@import "config";

// @function exponent() taken from Sassy-math https://github.com/Team-Sass/Sassy-math
@function exponent($base, $exponent) {
	// Reset value
	$value: $base;
	// Positive intergers get multiplied
	@if $exponent > 1 {
		@for $i from 2 through $exponent {
			$value: $value * $base; } }
	// Negative intergers get divided. A number divided by itself is 1
	@if $exponent < 1 {
		@for $i from 0 through -$exponent {
			$value: $value / $base; } }
	// Return the last value written
	@return $value;
}

// All the sassy-gridlover-xxx mixins are based on the Gridlover app http://www.gridlover.net/app/

// $rem -> true/false (if you want to use rem units as well as pixels)

@mixin sassy-gridlover-body($fontSize: $baseFontSize, $rem: false) {
	font-size: $fontSize + px;
	line-height: round(($fontSize * $baseLineHeight)) + px;
	// Outputs rem units if 'true'
	@if($rem == true) {
		font-size: ($fontSize / $defaultFontSize) + rem;
		line-height: round(($fontSize * $baseLineHeight)) / $defaultFontSize + rem;
	}
}

// h1 -> $step: 3
// h2 -> $step: 2
// h3 -> $step: 1
// h4 -> $step: 0
@mixin sassy-gridlover-heading($step, $rem: false) {
	$fontSize: $baseFontSize;
	$scale: $scaleFactor;
	$computedFontSize: round($fontSize * exponent($scale, $step));
	$lineHeight: round($fontSize * $baseLineHeight);
	$lines: ceil($computedFontSize / $lineHeight);
	font-size: $computedFontSize + px;
	line-height: $lineHeight * $lines + px;
	margin-bottom: $lineHeight + px;
	@if($step > 1) {
		margin-top: $lineHeight * 2 + px;
	}
	@else {
		margin-top: $lineHeight + px;
	}
	// Outputs rem units if 'true'
	@if($rem == true) {
		font-size: $computedFontSize / $defaultFontSize + rem;
		line-height: ($lineHeight * $lines) / $defaultFontSize + rem;
		margin-bottom: $lineHeight / $defaultFontSize + rem;
		@if($step > 1) {
			margin-top: ($lineHeight * 2) / $defaultFontSize + rem;
		}
		@else {
			margin-top: $lineHeight / $defaultFontSize + rem;
		}
	}
}

@mixin sassy-gridlover-margins($rem: false) {
	margin-bottom: round($baseFontSize * $baseLineHeight) + px;
	margin-top: round($baseFontSize * $baseLineHeight) + px;
	// Outputs rem units if 'true'
	@if($rem == true) {
		margin-bottom: round($baseFontSize * $baseLineHeight) / $defaultFontSize + rem;
		margin-top: round($baseFontSize * $baseLineHeight) / $defaultFontSize + rem;
	}
}
