@import "config";

// @function exponent() taken from Sassy-math https://github.com/Team-Sass/Sassy-math.
@function exponent($base, $exponent) {
	// Reset value
	$value: $base;
	// Positive intergers get multiplied.
	@if $exponent > 1 {
		@for $i from 2 through $exponent {
			$value: $value * $base; } }
	// Negative intergers get divided. A number divided by itself is 1.
	@if $exponent < 1 {
		@for $i from 0 through -$exponent {
			$value: $value / $base; } }
	// Return the last value written.
	@return $value;
}

// All the sassy-gridlover-xxx mixins are based on the Gridlover app http://www.gridlover.net/app.

// $unit: "px"		outputs pixels.
// $unit: "rem"		outputs rems.
// $unit: "pxrem"	outputs rems with pixels fallback.
// $unit: "em"		outputs ems.
@mixin sassy-gridlover-body($fontSize: $baseFontSize, $unit: "px") {
	@if($unit == "px") {
		font-size: $fontSize + $unit;
		line-height: round(($fontSize * $baseLineHeight)) + $unit;
	}
	@if($unit == "rem") {
		font-size: ($fontSize / $defaultFontSize) + $unit;
		line-height: round(($fontSize * $baseLineHeight)) / $defaultFontSize + $unit;
	}
	@if($unit == "pxrem") {
		// px fallback.
		font-size: $fontSize + px;
		line-height: round(($fontSize * $baseLineHeight)) + px;
		// rem.
		font-size: ($fontSize / $defaultFontSize) + rem;
		line-height: round(($fontSize * $baseLineHeight)) / $defaultFontSize + rem;
	}
	@if($unit == "em") {
		font-size: ($fontSize / $defaultFontSize) + $unit;
		line-height: ($fontSize * $baseLineHeight) / $defaultFontSize + $unit;
	}
}

// h1 --> $step: 3
// h2 --> $step: 2
// h3 --> $step: 1
// h4 --> $step: 0
@mixin sassy-gridlover-heading($step, $unit: "px") {
	$fontSize: $baseFontSize;
	$scale: $scaleFactor;
	$computedFontSize: round($fontSize * exponent($scale, $step));
	$lineHeight: round($fontSize * $baseLineHeight);
	$lines: ceil($computedFontSize / $lineHeight);
	@if($unit == "px") {
		font-size: $computedFontSize + $unit;
		line-height: $lineHeight * $lines + $unit;
		margin-bottom: $lineHeight + $unit;
		@if($step > 1) {
			margin-top: $lineHeight * 2 + $unit;
		}
		@else {
			margin-top: $lineHeight + $unit;
		}
	}
	@if($unit == "rem") {
		font-size: $computedFontSize / $defaultFontSize + $unit;
		line-height: ($lineHeight * $lines) / $defaultFontSize + $unit;
		margin-bottom: $lineHeight / $defaultFontSize + $unit;
		@if($step > 1) {
			margin-top: ($lineHeight * 2) / $defaultFontSize + $unit;
		}
		@else {
			margin-top: $lineHeight / $defaultFontSize + $unit;
		}
	}
	@if($unit == "pxrem") {
		// px fallback.
		font-size: $computedFontSize + px;
		line-height: $lineHeight * $lines + px;
		margin-bottom: $lineHeight + px;
		@if($step > 1) {
			margin-top: $lineHeight * 2 + px;
		}
		@else {
			margin-top: $lineHeight + px;
		}
		// rem.
		font-size: $computedFontSize / $defaultFontSize + rem;
		line-height: ($lineHeight * $lines) / $defaultFontSize + rem;
		margin-bottom: $lineHeight / $defaultFontSize + rem;
		@if($step > 1) {
			margin-top: ($lineHeight * 2) / $defaultFontSize + rem;
		}
		@else {
			margin-top: $lineHeight / $defaultFontSize + rem;
		}
	}
	@if($unit == "em") {
		font-size: $computedFontSize / $defaultFontSize + $unit;
		line-height: ($lineHeight * $lines) / $defaultFontSize + $unit;
		margin-bottom: $lineHeight / $defaultFontSize + $unit;
		@if($step > 1) {
			margin-top: ($lineHeight * 2) / $defaultFontSize + $unit;
		}
		@else {
			margin-top: $lineHeight / $defaultFontSize + $unit;
		}
	}
}

@mixin sassy-gridlover-margins($unit: "px") {
	@if($unit == "px") {
		margin-bottom: round($baseFontSize * $baseLineHeight) + $unit;
		margin-top: round($baseFontSize * $baseLineHeight) + $unit;
	}
	@if($unit == "rem") {
		margin-bottom: round($baseFontSize * $baseLineHeight) / $defaultFontSize + $unit;
		margin-top: round($baseFontSize * $baseLineHeight) / $defaultFontSize + $unit;
	}
	@if($unit == "em") {
		margin-bottom: round($baseFontSize * $baseLineHeight) / $defaultFontSize + $unit;
		margin-top: round($baseFontSize * $baseLineHeight) / $defaultFontSize + $unit;
	}
	@if($unit == "pxrem") {
		// px fallback.
		margin-bottom: round($baseFontSize * $baseLineHeight) + px;
		margin-top: round($baseFontSize * $baseLineHeight) + px;
		// rem.
		margin-bottom: round($baseFontSize * $baseLineHeight) / $defaultFontSize + rem;
		margin-top: round($baseFontSize * $baseLineHeight) / $defaultFontSize + rem;
	}
}
