@import "sassy-gridlover.scss";

body {
	@include sassy-gridlover-body($baseFontSize, em);
}

h1 {
	@include sassy-gridlover-heading(3, em);
}
h2 {
	@include sassy-gridlover-heading(2, em);
}
h3 {
	@include sassy-gridlover-heading(1, em);
}
h4 {
	@include sassy-gridlover-heading(0, em);
}

p, ul, ol, pre, table, blockquote {
	@include sassy-gridlover-margins(em);
}