// Scale factor constants.
// Don't change them ever!
$MINOR_SECOND: 1.067;
$MAJOR_SECOND: 1.125;
$MINOR_THIRD: 1.2;
$MAJOR_THIRD: 1.25;
$PERFECT_FOURTH: 1.333;
$AUGMENTED_FOURTH: 1.414;
$PERFECT_FIFTH: 1.5;
$MINOR_SIXTH: 1.6;
$GOLDEN_SECTION: 1.618;
$MAJOR_SIXTH: 1.667;
$MINOR_SEVENTH: 1.778;
$MAJOR_SEVENTH: 1.875;
$OCTAVE: 2;
$MAJOR_TENTH: 2.5;
$MAJOR_ELEVENTH: 2.667;
$MAJOR_TWELFTH: 3;
$DOUBLE_OCTAVE: 4;

// Default font size.
// Don't change it ever!
$SGL_DEFAULT_FONT_SIZE: 16;

// Configurable variables.
// Ok... You can change these variables! :D
// I would encourage you **not to change them directly here**, though.
// It would be better to declare them in your `_variables.scss`, `_config.scss` or the like.

/// Base font size.
///
/// @type number
$sgl-base-font-size: $SGL_DEFAULT_FONT_SIZE !default;

/// Base line height.
///
/// @type number
$sgl-base-line-height: 1.2 !default;

/// Base unit (`px`, `em`, `rem`, `pxrem`).
///
/// @type string
$sgl-base-unit: "pxrem" !default;

/// Scale factor.
///
/// @type number
$sgl-scale-factor: $GOLDEN_SECTION !default;

/// Enables/disables **debug mode**.
///
/// Outputs background lines imitating a notebook's sheet.
///
/// Declare it in your own `_variables.scss`, `_config.scss` or the like.
///
/// Basically, **it must be declared before the** `@import "sassy-gridlover"`.
///
/// @example scss
/// sgl-debug-mode: true;
///
/// @example css
/// html {
///     background-image: linear-gradient(rgba(0, 170, 255, 0.3) 1px, transparent 1px);
///     background-position: left top;
///     background-size: 19px 19px;
/// }
///
/// html body {
///     box-shadow: 1px 0px 0px rgba(0, 170, 255, 0.3), -1px 0px 0px rgba(0, 170, 255, 0.3);
/// }
///
/// @type boolean
$sgl-debug-mode: false !default;

/// Styles to make sure everything is aligned.
///
/// Outputs extra **reset styles**.
///
/// Declare it in your own `_variables.scss`, `_config.scss` or the like.
///
/// Basically, **it must be declared before the** `@import "sassy-gridlover"`.
///
/// @example scss
/// $sgl-extras: true;
///
/// @example css
/// html ul ul,
/// html ol ol,
/// html ul ol,
/// html ol ul {
///   margin-bottom: 0;
///   margin-top: 0;
/// }
/// html hr,
/// html .hr {
///   border: 1px solid;
///   margin: -1px 0;
/// }
/// html a,
/// html b,
/// html i,
/// html strong,
/// html em,
/// html small,
/// html code {
///   line-height: 0;
/// }
/// html sub,
/// html sup {
///   line-height: 0;
///   position: relative;
///   vertical-align: baseline;
/// }
/// html sup {
///   top: -0.5em;
/// }
/// html sub {
///   bottom: -0.25em;
/// }
/// @type boolean
$sgl-extra: false !default;
