@import "config";
@import "functions";
@import "debug-mode";

@if($sgl-debug-mode == true) {
    @include sgl-show-grid($sgl-base-font-size, $sgl-base-line-height);
}

/// To use in the `<body>`.
///
/// Outputs `font-size` and `line-height`.
///
/// @param {number} $font-size [$sgl-base-font-size] - Base font size
/// @param {string} $unit [$sgl-base-unit] - Unit to output
///
/// @example scss
/// body {
/// 	@include sgl-body($sgl-base-font-size, "pxrem");
/// }
/// @example css
/// body {
///     font-size: 18px;
///     line-height: 22px;
///     font-size: 1.125rem;
///     line-height: 1.375rem;
/// }

@mixin sgl-body($font-size: $sgl-base-font-size, $unit: $sgl-base-unit) {
    
    $line-height: round(($font-size * $sgl-base-line-height));

    @if ($unit == "px" or $unit == "pxrem") {
        font-size: $font-size * 1px;
        line-height: $line-height * 1px;
    }

    @if ($unit == "rem" or $unit == "pxrem") {
        font-size: sgl-rem-calc($font-size);
        line-height: sgl-rem-calc($line-height);
    }

    @if ($unit == "em") {
        font-size: sgl-decimal-ceil(sgl-em-calc($font-size, $SGL_DEFAULT_FONT_SIZE), 5);
        line-height: sgl-decimal-ceil(sgl-em-calc($line-height, $font-size), 5);
    }
}

/// To use in headings `<h1> - <h4>`.
///
/// Outputs `font-size`, `line-height`, `margin-bottom` and `margin-top`.
///
/// @param {number} $step -
/// `<h1>` &rarr; `$step: 3`
///
/// `<h2>` &rarr; `$step: 2`
///
/// `<h3>` &rarr; `$step: 1`
///
/// `<h4>` &rarr; `$step: 0`
///
/// @param {string} $unit [$sgl-base-unit] - Unit to output
/// @param {number} $base-value [$sgl-base-font-size] - Optional call with a different base font size when using em
///
/// @example scss
/// h1 {
/// 	@include sgl-heading(3, "em");
/// }
///
/// h2 {
/// 	@include sgl-heading(2, "px");
/// }
///
/// h3 {
/// 	@include sgl-heading(1, "pxrem");
/// }
///
/// h4 {
/// 	@include sgl-heading(0);
/// }
///
/// @example css
/// h1 {
///     font-size: 4.22222em;
///     line-height: 1.15789em;
///     margin-bottom: 0.28947em;
///     margin-top: 0.57895em;
/// }
///
/// h2 {
///     font-size: 47px;
///     line-height: 66px;
///     margin-bottom: 22px;
///     margin-top: 44px;
/// }
///
/// h3 {
///     font-size: 29px;
///     line-height: 44px;
///     margin-bottom: 22px;
///     margin-top: 22px;
///     font-size: 1.8125rem;
///     line-height: 2.75rem;
///     margin-bottom: 1.375rem;
///     margin-top: 1.375rem;
/// }
///
/// h4 {
///     font-size: 18px;
///     line-height: 22px;
///     margin-bottom: 22px;
///     margin-top: 22px;
///     font-size: 1.125rem;
///     line-height: 1.375rem;
///     margin-bottom: 1.375rem;
///     margin-top: 1.375rem;
/// }

@mixin sgl-heading($step, $unit: $sgl-base-unit, $base-value: $sgl-base-font-size) {
    
    $font-size: $sgl-base-font-size;
    $scale: $sgl-scale-factor;
    $computed-font-size: round($font-size * sgl-exponent($scale, $step));
    $line-height: round($font-size * $sgl-base-line-height);
    $lines: ceil($computed-font-size / $line-height);
    $computed-line-height: $line-height * $lines;
    $margin-bottom: $line-height;
    $margin-top: $line-height;

    @if ($step == 3) {
        $margin-bottom: $line-height * 2;
        $margin-top: $line-height;
    }

    @if ($step == 2) {
        $margin-bottom: $line-height;
        $margin-top: $line-height;
    }

    @if ($step <= 1) {
        $margin-bottom: 0;
        $margin-top: $line-height;
    }

    @if($sgl-debug-mode == true) {
        @include sgl-show-margins($margin-bottom, $margin-top, $computed-font-size);
    }

    @if ($unit == "px" or $unit == "pxrem") {
        font-size: $computed-font-size * 1px;
        line-height: $computed-line-height * 1px;
        margin-bottom: $margin-bottom * 1px;
        margin-top: $margin-top * 1px;
    }

    @if ($unit == "rem" or $unit == "pxrem") {
        font-size: sgl-rem-calc($computed-font-size);
        line-height: sgl-rem-calc($computed-line-height);
        margin-bottom: sgl-rem-calc($margin-bottom);
        margin-top: sgl-rem-calc($margin-top);
    }

    @if ($unit == "em") {
        font-size: sgl-decimal-ceil(sgl-em-calc($computed-font-size, $base-value), 5);
        line-height: sgl-decimal-ceil(sgl-em-calc($computed-line-height, $computed-font-size), 5);
        margin-bottom: sgl-decimal-ceil(sgl-em-calc($margin-bottom, $computed-font-size), 5);
        margin-top: sgl-decimal-ceil(sgl-em-calc($margin-top, $computed-font-size), 5);
    }
}

/// To use in `<p>`, `<ul>`, `<ol>`, `<pre>`, `<table>`, `<blockquote>`, etc.
///
/// Outputs `margin-bottom` and `margin-top`.
///
/// @param {string} $unit [$sgl-base-unit] - Unit to output
/// @param {number} $base-value [$sgl-base-font-size] - Optional call with a different base font size when using em
///
/// @example scss
/// p, ul, ol, pre, table, blockquote {
/// 	@include sgl-margins();
/// }
/// @example css
/// p, ul, ol, pre, table, blockquote {
///    margin-bottom: 22px;
///    margin-top: 22px;
///    margin-bottom: 1.375rem;
///    margin-top: 1.375rem;
/// }

@mixin sgl-margins($unit: $sgl-base-unit, $base-value: $sgl-base-font-size) {
    
    $margin: round($base-value * $sgl-base-line-height);
    $margin-bottom: $margin;
    $margin-top: 0;

    @if ($sgl-debug-mode == true) {
        @include sgl-show-margins($margin-bottom, $margin-top, $base-value);
    }

    @if ($unit == "px" or $unit == "pxrem") {
        margin-bottom: $margin * 1px;
        margin-top: $margin-top;
    }

    @if ($unit == "rem" or $unit == "pxrem") {
        margin-bottom: sgl-rem-calc($margin);
        margin-top: $margin-top;
    }

    @if ($unit == "em") {
        margin-bottom: sgl-decimal-ceil(sgl-em-calc($margin, $base-value), 5);
        margin-top: $margin-top;
    }
}
