@import "config";
@import "functions";

/// To use in the `<body>`.
///
/// Outputs `font-size` and `line-height`.
///
/// @param {number} $font-size [$sgl-base-font-size] - Base font size
/// @param {string} $unit [$sgl-base-unit] - Unit to output
///
/// @example scss
/// body {
/// 	@include sassy-gridlover-body($sgl-base-font-size, "pxrem");
/// }
/// @example css
/// body {
///     font-size: 18px;
///     line-height: 22px;
///     font-size: 1.125rem;
///     line-height: 1.375rem;
/// }

@mixin sassy-gridlover-body($font-size: $sgl-base-font-size, $unit: $sgl-base-unit) {
    $line-height: round(($font-size * $sgl-base-line-height));

    @if($unit == "px" or $unit == "pxrem") {
        font-size: $font-size * 1px;
        line-height: $line-height * 1px;
    }

    @if($unit == "rem" or $unit == "pxrem") {
        font-size: rem-calc($font-size);
        line-height: rem-calc($line-height);
    }

    @if($unit == "em") {
        font-size: em-calc($font-size, $SGL_DEFAULT_FONT_SIZE);
        line-height: em-calc($line-height, $font-size);
    }
}

/// To use in headings `<h1> - <h4>`.
///
/// Outputs `font-size`, `line-height`, `margin-bottom` and `margin-top`.
///
/// @param {number} $step -
/// `<h1>` &rarr; `$step: 3`
///
/// `<h2>` &rarr; `$step: 2`
///
/// `<h3>` &rarr; `$step: 1`
///
/// `<h4>` &rarr; `$step: 0`
///
/// @param {string} $unit [$sgl-base-unit] - Unit to output
/// @param {number} $base-value [$sgl-base-font-size] - Optionally call with a different base font size when using em
///
/// @example scss
/// h1 {
/// 	@include sassy-gridlover-heading(3, "em");
/// }
///
/// h2 {
/// 	@include sassy-gridlover-heading(2, "px");
/// }
///
/// h3 {
/// 	@include sassy-gridlover-heading(1, "pxrem");
/// }
///
/// h4 {
/// 	@include sassy-gridlover-heading(0);
/// }
///
/// @example css
/// h1 {
///     font-size: 4.22222em;
///     line-height: 1.15789em;
///     margin-bottom: 0.28947em;
///     margin-top: 0.57895em;
/// }
///
/// h2 {
///     font-size: 47px;
///     line-height: 66px;
///     margin-bottom: 22px;
///     margin-top: 44px;
/// }
///
/// h3 {
///     font-size: 29px;
///     line-height: 44px;
///     margin-bottom: 22px;
///     margin-top: 22px;
///     font-size: 1.8125rem;
///     line-height: 2.75rem;
///     margin-bottom: 1.375rem;
///     margin-top: 1.375rem;
/// }
///
/// h4 {
///     font-size: 18px;
///     line-height: 22px;
///     margin-bottom: 22px;
///     margin-top: 22px;
///     font-size: 1.125rem;
///     line-height: 1.375rem;
///     margin-bottom: 1.375rem;
///     margin-top: 1.375rem;
/// }

@mixin sassy-gridlover-heading($step, $unit: $sgl-base-unit, $base-value: $sgl-base-font-size) {
    $font-size: $sgl-base-font-size;
    $scale: $sgl-scale-factor;
    $computed-font-size: round($font-size * exponent($scale, $step));
    $line-height: round($font-size * $sgl-base-line-height);
    $lines: ceil($computed-font-size / $line-height);
    $computed-line-height: $line-height * $lines;

    $margin-top: $line-height;
    @if($step > 1) {
        $margin-top: $line-height * 2;
    }

    @if ($unit == "px" or $unit == "pxrem") {
        font-size: $computed-font-size * 1px;
        line-height: $computed-line-height * 1px;
        margin-bottom: $line-height * 1px;
        margin-top: $margin-top * 1px;
    }

    @if ($unit == "rem" or $unit == "pxrem") {
        font-size: rem-calc($computed-font-size);
        line-height: rem-calc($computed-line-height);
        margin-bottom: rem-calc($line-height);
        margin-top: rem-calc($margin-top);
    }

    @if ($unit == "em") {
        font-size: em-calc($computed-font-size, $base-value);
        line-height: em-calc($computed-line-height, $computed-font-size);
        margin-bottom: em-calc($line-height, $computed-font-size);
        margin-top: em-calc($margin-top, $computed-font-size);
    }
}

/// To use in `<p>`, `<ul>`, `<ol>`, `<pre>`, `<table>`, `<blockquote>`, etc.
///
/// Outputs `margin-bottom` and `margin-top`.
///
/// @param {string} $unit [$sgl-base-unit] - Unit to output
/// @param {number} $base-value [$sgl-base-font-size] - Optionally call with a different base font size when using em
///
/// @example scss
/// p, ul, ol, pre, table, blockquote {
/// 	@include sassy-gridlover-margins();
/// }
/// @example css
/// p, ul, ol, pre, table, blockquote {
///    margin-bottom: 22px;
///    margin-top: 22px;
///    margin-bottom: 1.375rem;
///    margin-top: 1.375rem;
/// }

@mixin sassy-gridlover-margins($unit: $sgl-base-unit, $base-value: $sgl-base-font-size) {
    $margin: round($base-value * $sgl-base-line-height);

    @if($unit == "px" or $unit == "pxrem") {
        margin-bottom: $margin * 1px;
        margin-top: $margin * 1px;
    }

    @if($unit == "rem" or $unit == "pxrem") {
        margin-bottom: rem-calc($margin);
        margin-top: rem-calc($margin);
    }

    @if($unit == "em") {
        margin-bottom: em-calc($margin, $base-value);
        margin-top: em-calc($margin, $base-value);
    }
}
