@import "config";

// @function exponent() taken from Sassy-math https://github.com/Team-Sass/Sassy-math.
@function exponent($base, $exponent) {
	// Resets value.
	$value: $base;
	// Positive intergers get multiplied.
	@if $exponent > 1 {
		@for $i from 2 through $exponent {
			$value: $value * $base; } }
	// Negatives intergers get divided. A number divided by itself is 1.
	@if $exponent < 1 {
		@for $i from 0 through -$exponent {
			$value: $value / $base; } }
	// Return the last value written.
	@return $value;
}

// All the sassy-gridlover-xxx mixins are based on the Gridlover app http://www.gridlover.net/app/

// $rem --> true/false (if you want to use rem units as well as pixels)

@mixin sassy-gridlover-body($font-size: $sgl-base-font-size, $rem: false) {
	font-size: $font-size + px;
	line-height: round(($font-size * $sgl-base-line-height)) + px;
	// Outputs rem units if 'true'.
	@if($rem == true) {
		font-size: ($font-size / $SGL_DEFAULT_FONT_SIZE) + rem;
		line-height: round(($font-size * $sgl-base-line-height)) / $SGL_DEFAULT_FONT_SIZE + rem;
	}
}

// h1 --> $step: 3
// h2 --> $step: 2
// h3 --> $step: 1
// h4 --> $step: 0
@mixin sassy-gridlover-heading($step, $rem: false) {
	$font-size: $sgl-base-font-size;
	$scale: $sgl-scale-factor;
	$computed-font-size: round($font-size * exponent($scale, $step));
	$line-height: round($font-size * $sgl-base-line-height);
	$lines: ceil($computed-font-size / $line-height);
	font-size: $computed-font-size + px;
	line-height: $line-height * $lines + px;
	margin-bottom: $line-height + px;
	@if($step > 1) {
		margin-top: $line-height * 2 + px;
	}
	@else {
		margin-top: $line-height + px;
	}
	// Outputs rem units if 'true'.
	@if($rem == true) {
		font-size: $computed-font-size / $SGL_DEFAULT_FONT_SIZE + rem;
		line-height: ($line-height * $lines) / $SGL_DEFAULT_FONT_SIZE + rem;
		margin-bottom: $line-height / $SGL_DEFAULT_FONT_SIZE + rem;
		@if($step > 1) {
			margin-top: ($line-height * 2) / $SGL_DEFAULT_FONT_SIZE + rem;
		}
		@else {
			margin-top: $line-height / $SGL_DEFAULT_FONT_SIZE + rem;
		}
	}
}

@mixin sassy-gridlover-margins($rem: false) {
	margin-bottom: round($sgl-base-font-size * $sgl-base-line-height) + px;
	margin-top: round($sgl-base-font-size * $sgl-base-line-height) + px;
	// Outputs rem units if 'true'.
	@if($rem == true) {
		margin-bottom: round($sgl-base-font-size * $sgl-base-line-height) / $SGL_DEFAULT_FONT_SIZE + rem;
		margin-top: round($sgl-base-font-size * $sgl-base-line-height) / $SGL_DEFAULT_FONT_SIZE + rem;
	}
}
